.App {
  text-align: center;
}

.page-title {
  font-weight: bolder;
  font-size: larger;
}

.page-subtitle {
  font-size: x-small;
}

.solve-button {
  border: 1px solid green;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: large;
  font-weight: bolder;
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 10px;
}

.solve-button:hover {
  background-color: green;
  color: white;
  box-shadow: 5px 10px grey;
}

.grey input {
  background-color: lightgray;
}
